@model siteSPPP.Models.SERVIDORESPUBLICOS

@{
    ViewBag.Title = "CambiarCurriculumFuncionario";
    Layout = "~/Views/Shared/LayoutAuth.cshtml";
}

<h2>CambiarCurriculumFuncionario</h2>

@using (Html.BeginForm(Html.BeginForm("CambiarCurriculumFuncionario", "Administrador", FormMethod.Post, new { enctype = "multipart/form-data" })))
{
    @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.IDSERVPUB)
        @Html.HiddenFor(model => model.IDDEPARTAMENTO)
        @Html.HiddenFor(model => model.IDUSUARIO)
        @Html.HiddenFor(model => model.NOMBREPERSONAL)
        @Html.HiddenFor(model => model.NOMBRAMIENTO)
        @Html.HiddenFor(model => model.CONMUTADOR)
        @Html.HiddenFor(model => model.EXTENSION)
        @Html.HiddenFor(model => model.FOTOPERSONAL)
        @Html.HiddenFor(model => model.CORREO)
        @Html.HiddenFor(model => model.ESTATUS)
        @Html.HiddenFor(model => model.FECHAREGISTRO)
        @Html.HiddenFor(model => model.NIVEL)    
    <div class="form-horizontal">
        <h4>SERVIDORESPUBLICOS</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            @Html.Label("Cambiar Curriculum", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" id="CURRICULUM" name="CURRICULUM" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "ListaFuncionarios")
</div>
