@model siteSPPP.Models.SERVIDORESPUBLICOS

@{
    ViewBag.Title = "CambiarFotoFuncionario";
    Layout = "~/Views/Shared/LayoutAuth.cshtml";
}

<h2>Cambiar fotografia del Funcionario</h2>

@using (Html.BeginForm(Html.BeginForm("CambiarFotoFuncionario", "Administrador", FormMethod.Post, new { enctype = "multipart/form-data" })))
{
    @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.IDSERVPUB)
        @Html.HiddenFor(model => model.IDDEPARTAMENTO)
        @Html.HiddenFor(model => model.IDUSUARIO)
        @Html.HiddenFor(model => model.NOMBREPERSONAL)
        @Html.HiddenFor(model => model.NOMBRAMIENTO)
        @Html.HiddenFor(model => model.CONMUTADOR)
        @Html.HiddenFor(model => model.EXTENSION)
        @Html.HiddenFor(model => model.CURRICULUM)
        @Html.HiddenFor(model => model.CORREO)
        @Html.HiddenFor(model => model.ESTATUS)
        @Html.HiddenFor(model => model.FECHAREGISTRO)
        @Html.HiddenFor(model => model.NIVEL)    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            @Html.Label("Imagen Actual", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <img src="@Url.Action("MostrarFoto", "Administrador", new { id = Model.IDSERVPUB })" alt="" width:100% />
                @Html.ValidationMessageFor(model => model.FOTOPERSONAL, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Cambiar imagen", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="file" id="FOTOPERSONAL" name="FOTOPERSONAL" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("Volver a la Lista", "ListaFuncionarios")
                <input type="submit" value="Guardar Cambios" class="btn btn-default" />
            </div>
        </div>
    </div>
}

