@model siteSPPP.Models.SERVIDORESPUBLICOS
@{
    ViewBag.Title = "DetalleFuncionario";
    Layout = "~/Views/Shared/LayoutAuth.cshtml";
}
<h2>Datos del Funcionario Público</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOMBREPERSONAL)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NOMBREPERSONAL)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NOMBRAMIENTO)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NOMBRAMIENTO)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CONMUTADOR)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CONMUTADOR)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EXTENSION)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EXTENSION)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FOTOPERSONAL)
        </dt>
        <dd>
            <img src="@Url.Action("MostrarFoto", "Administrador", new { id = Model.IDSERVPUB })" alt="" style="width:10%" />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CORREO)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CORREO)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CURRICULUM)
        </dt>
        <dd>
            <a href="@Url.Action("MostrarPDF","Administrador", new { id = Model.IDSERVPUB })" target="_blank">
                <img src="~/Content/images/FC_acrobat-02.png" alt="" width="70" height="70">
            </a>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ESTATUS)
        </dt>
        @if (Model.ESTATUS == "A")
        {
            <dd>ACTIVO</dd>
        }
        @if (Model.ESTATUS == "I")
        {
            <dd>INACTIVO</dd>
        }
        <dt>
            @Html.DisplayNameFor(model => model.FECHAREGISTRO)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FECHAREGISTRO)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DEPARTAMENTOS.NOMBREDEPTO)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DEPARTAMENTOS.NOMBREDEPTO)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.USUARIO.USUARIOINICIA)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.USUARIO.USUARIOINICIA)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Modificar", "EditarFuncionario", new { id = Model.IDSERVPUB }) |
    @Html.ActionLink("Volver a la Lista", "ListaFuncionarios")
</p>
