@model PagedList.IPagedList<siteSPPP.Models.SERVIDORESPUBLICOS>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<p>
    @Html.ActionLink("Crear nuevo funcionario", "AgregarFuncionario")
</p>
<div class="float-lg-left">
    @using (Html.BeginForm("ListaFuncionarios", "Administrador", FormMethod.Get, new { @class = "input-group" }))
    {
        @Html.TextBox("busqueda", ViewBag.CurrentFilter as string, new { @class = "form-control m-1", autofocus = "autofocus" })
        <span class="input-group-btn">
            <input type="submit" value="Buscar" class="btn btn-group btn-primary m-1" />
        </span>
    }
    @using (Html.BeginForm("ListaFuncionarios", "Administrador", FormMethod.Get, new { @class = "input-group" }))
    {
        @Html.DropDownList("filtrado", new SelectList(new[]{

                   new SelectListItem { Value = "", Text ="SELECCIONE UNA OPCION"},
                   new SelectListItem { Value = "A", Text ="ACTIVO"},
                   new SelectListItem { Value = "I", Text = "INACTIVO"},
               }, "Value"
               , "Text"), htmlAttributes: new { @class = "form-control m-1", @id = "filtro", onchange = "this.form.submit();" })
    }
</div>
<table class="table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().NOMBREPERSONAL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().NOMBRAMIENTO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().CONMUTADOR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().EXTENSION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().FOTOPERSONAL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().CURRICULUM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().CORREO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().IDDEPARTAMENTO)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NOMBREPERSONAL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NOMBRAMIENTO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CONMUTADOR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EXTENSION)
            </td>
            <td>
                <img src="@Url.Action("MostrarFoto", "Administrador", new { id = item.IDSERVPUB })" alt="" width="80" height="110" />
                @Html.ActionLink("Cambiar Imagen", "CambiarFotoFuncionario", new { id = item.IDSERVPUB })
            </td>
            <td>
                <a href="@Url.Action("MostrarPDF","Administrador", new { id = item.IDSERVPUB })" target="_blank">
                    <img src="~/Content/images/FC_acrobat-02.png" alt="" width="70" height="70">
                </a>
                @Html.ActionLink("Cambiar Curriculum", "CambiarCurriculumFuncionario", new { id = item.IDSERVPUB })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CORREO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DEPARTAMENTOS.NOMBREDEPTO)
            </td>
            <td>
                @Html.ActionLink("Editar", "EditarFuncionario", new { id = item.IDSERVPUB })
                @Html.ActionLink("Detalle", "DetalleFuncionario", new { id = item.IDSERVPUB })

            </td>
        </tr>
    }

</table>

<div class="text-right">
    Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
</div>
<div class="text-center">
    @Html.PagedListPager(Model, page => Url.Action("ListaFuncionarios", new { page,
    currentFilter = ViewBag.currentFilter,
    filtrado = ViewBag.filtrado
}))
</div>
