@model PagedList.IPagedList<siteSPPP.Models.NOTICIAS_SEPLAN>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "ListaNoticias";
    Layout = "~/Views/Shared/LayoutAuth.cshtml";
}

<h2>Listado de noticias</h2>
<div class="float-lg-left">
    <div>
        @using (Html.BeginForm("ListaNoticiasAdmin", "Administrador", FormMethod.Get, new { @class = "input-group" }))
        {
            @Html.TextBox("busqueda", ViewBag.CurrentFilter as string, new { @class = "form-control m-1", autofocus = "autofocus" })
            <span class="input-group-btn">
                <input type="submit" value="Buscar" class="btn btn-group btn-primary m-1" />
            </span>
        }
    </div>
    <div>
        @using (Html.BeginForm("ListaNoticiasAdmin", "Administrador", FormMethod.Get, new { @class = "input-group" }))
        {
            @Html.TextBox("filtrarfech", ViewBag.filtrarfech as string, new { @class = "", autofocus = "autofocus", type = "date" })
            <span class="input-group-btn">
                <input type="submit" value="Buscar por fecha" class="btn btn-group btn-primary m-1" />
            </span>
        }
    </div>
    <div>
        @using (Html.BeginForm("ListaNoticiasAdmin", "Administrador", FormMethod.Get, new { @class = "input-group" }))
        {
            @Html.DropDownList("filtrado", new SelectList(new[]{

                       new SelectListItem { Value = "", Text ="SELECCIONE UNA OPCION"},
                       new SelectListItem { Value = "A", Text ="ACTIVO"},
                       new SelectListItem { Value = "I", Text = "INACTIVO"},
                   }, "Value"
                   , "Text"), htmlAttributes: new { @class = "", @id = "filtro", onchange = "this.form.submit();" })
        }
    </div>
</div>

<table class="table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().TITULO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().FECHAPUBLIC)
            
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().LUGAR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().PRIORIDAD)
        </th>
        <th>
            Agregar portada
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().USUARIO.NOMBREUSUARIO)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TITULO)
            </td>
            <td>
                @item.FECHAPUBLIC.ToString("dd MMM yyyy")
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LUGAR)
            </td>
            <td>
                @{
                    if (item.PRIORIDAD == 1)
                    {
                        <p>ALTA</p>
                    }
                    if (item.PRIORIDAD == 2)
                    {
                        <p>MEDIA</p>
                    }
                    if (item.PRIORIDAD == 3)
                    {
                        <p>BAJA</p>
                    }
                }
            </td>
            <td>
                @Html.ActionLink("Lista Fotos", "ListaFotosAdmin", "Administrador", new { idNoticia = item.IDNOTICIA }, new { @class = "btn btn-outline-primary", role = "button" })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.USUARIO.NOMBREUSUARIO)
            </td>
            <td>
                @Html.ActionLink("Editar", "EditarNoticiasAdmin", new { id = item.IDNOTICIA })
            </td>
        </tr>
    }

</table>
<div class="text-right">
    Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
</div>
<div class="text-center">
    @Html.PagedListPager(Model, page => Url.Action("ListaNoticiasAdmin", new { page,
    currentFilter = ViewBag.currentFilter,
    filtrarfech = ViewBag.filtrarfech,
    filtrado = ViewBag.filtrado
}))
</div>