@model PagedList.IPagedList<siteSPPP.Models.PLANTILLA>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
                /**/

                ViewBag.Title = "Index";
                Layout = "~/Views/Shared/LayoutCapturista.cshtml";
}
<h2>Información del apartado de Conocenos</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().TITULO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().TIPO_PLANTILLA.TIPOPLANTILLA)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TITULO)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TIPO_PLANTILLA.TIPOPLANTILLA)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.IDPLANTILLA })
                @Html.ActionLink("Detalle", "Details", new { id = item.IDPLANTILLA })
            </td>
        </tr>
    }
</table>

<div class="text-right">
    Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
</div>
<div class="text-center">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page,
    currentFilter = ViewBag.currentFilter,
    filtrado = ViewBag.filtrado
}))
</div>
