@model IEnumerable<siteSPPP.Models.SERVIDORESPUBLICOS>
@{
    ViewBag.Title = "Objetivos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <span style="font-size:1.5em;text-align:left">
        <strong>Directorio de Servidores Públicos</strong>
    </span>



@foreach (var item in Model)
{
    <table width="703" border="0">
        <tbody>
            <tr>
                <td colspan="5" bgcolor="#a5a7a9"><h2><strong class="a"><span class="blanco">@Html.DisplayFor(s => item.DEPARTAMENTOS.NOMBREDEPTO)</span></strong></h2></td>
            </tr>
            <tr>
                <td>
                    <div class="text-center">
                        <img src="@Url.Action("MostrarFoto", "Administrador", new { id = item.IDSERVPUB })" width="80" height="110" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <h2 align="center">
                        @Html.DisplayFor(s => item.NOMBREPERSONAL)
                        <br>
                        <span class="f14">@Html.DisplayFor(s => item.NOMBRAMIENTO)<span>
                    </h2>
                    <p class="f12" align="center">
                        <span class="f14">Conmutador @Html.DisplayFor(s => item.CONMUTADOR) Ext @Html.DisplayFor(s => item.EXTENSION) </span>
                        <br>
                        <span class="f14">@Html.DisplayFor(s => item.CORREO)</span>
                    </p>
                </td>
                <td width="85">
                    <div align="center">
                        <p>
                            <a href="@Url.Action("MostrarPDF","Administrador", new { id = item.IDSERVPUB })" target="_blank">
                                <img src="~/Content/images/FC_acrobat-02.png" alt="" width="70" height="70">
                            </a>
                        </p>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
}


