@model IEnumerable<siteSPPP.Models.ARCHIVOS>

@{
    ViewBag.Title = "PortafolioInversiones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Portafolio de Inversiones</h2>

<table width:"100%" border="0" cellpadding="0" cellspacing="4">
    <tr>
        <td colspan="2" bgcolor="#FFFFFF">
            <img src="~/Content/images/proy_inversion_2017-03.png" width="554" height="31" />
        </td>
    </tr>
    @foreach (var item in Model)
    {
        if (item.IDARCHIVO == 45)
        {

            <tr>
                <td height="20">
                    <img src="~/Content/images/pdf_gray-02.png" height="25" />
                </td>
                <td height="20">
                    <a href="@Url.Action("MostrarPDF", "Archivos", new { id = item.IDARCHIVO })" target="_blank">
                        @Html.DisplayFor(s => item.NOMBREARCHIVO)
                    </a>
                </td>
            </tr>

        }
    }
</table>
<table width:"100%" border="0" cellpadding="0" cellspacing="4">
    <tr>
        <td colspan="2" bgcolor="#FFFFFF">
            <img src="~/Content/images/proy_inversion_2018-03.png" width="554" height="31" />
        </td>
    </tr>
    @foreach (var item in Model)
    {
        if (item.IDARCHIVO == 47 || item.IDARCHIVO == 53 )
        {

            <tr>
                <td height="20">
                    <img src="~/Content/images/pdf_gray-02.png" height="25" />
                </td>
                <td height="20">
                    <a href="@Url.Action("MostrarPDF", "Archivos", new { id = item.IDARCHIVO })" target="_blank">
                        @Html.DisplayFor(s => item.NOMBREARCHIVO)
                    </a>
                </td>
            </tr>

        }
    }
</table>
<table width:"100%" border="0" cellpadding="0" cellspacing="4">
    <tr>
        <td colspan="2" bgcolor="#FFFFFF">
            <img src="~/Content/images/proy_inversion_2019-03.png" width="554" height="31" />
        </td>
    </tr>
    @foreach (var item in Model)
    {
        if (item.IDARCHIVO == 49)
        {

            <tr>
                <td height="20">
                    <img src="~/Content/images/pdf_gray-02.png" height="25" />
                </td>
                <td height="20">
                    <a href="@Url.Action("MostrarPDF", "Archivos", new { id = item.IDARCHIVO })" target="_blank">
                        @Html.DisplayFor(s => item.NOMBREARCHIVO)
                    </a>
                </td>
            </tr>

        }
    }
</table>