@model IEnumerable<siteSPPP.Models.SERVIDORESPUBLICOS>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutAuth.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NOMBREPERSONAL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NOMBRAMIENTO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CONMUTADOR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EXTENSION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FOTOPERSONAL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CORREO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CURRICULUM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ESTATUS)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FECHAREGISTRO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DEPARTAMENTOS.NOMBREDEPTO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.USUARIO.USUARIOINICIA)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NOMBREPERSONAL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NOMBRAMIENTO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CONMUTADOR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EXTENSION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FOTOPERSONAL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CORREO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CURRICULUM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ESTATUS)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FECHAREGISTRO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DEPARTAMENTOS.NOMBREDEPTO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.USUARIO.USUARIOINICIA)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDSERVPUB }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDSERVPUB }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDSERVPUB })
        </td>
    </tr>
}

</table>
