@model IEnumerable<siteSPPP.Models.PLANTILLA>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutAuth.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TITULO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CONTENIDO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TIPO_PLANTILLA.TIPOPLANTILLA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.USUARIO.USUARIOINICIA)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TITULO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CONTENIDO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TIPO_PLANTILLA.TIPOPLANTILLA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.USUARIO.USUARIOINICIA)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDPLANTILLA }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDPLANTILLA }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDPLANTILLA })
        </td>
    </tr>
}

</table>
