@model IEnumerable<siteSPPP.Models.USUARIO>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>VerDatos</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.USUARIOINICIA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CONTRASENA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NOMBREUSUARIO)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ROL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ESTATUS)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <th>
                    @Html.DisplayFor(modelItem => item.USUARIOINICIA)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.CONTRASENA)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.NOMBREUSUARIO)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.ROL)
                </th>
                <th>
                    @Html.DisplayFor(modelItem => item.ESTATUS)
                </th>
                <th></th>
            </tr>
        }
    </table>
</body>
</html>
